:root{
    background: rgb(23,162,184);
    background: linear-gradient(270deg, rgba(23,162,184,1) 0%, rgb(193, 230, 247) 100%);
  }
  
  /* navbar color */
  .navbar {
    background-color: rgb(119, 193, 215);
  }
  
  /* mouse over link navbar navbar-expand-lg navbar-light info*/
  .navbar a:hover {
    background-color: rgb(21, 150, 139);
    color: white !important;
  }
  
  .navbar a.active {
    background-color: rgb(23,162,184);
  }
  
  .tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  body {
    background-color: var(--background-color) !important;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .caption1 {
    font-style: italic;
    }
  
  .caption3 {
    color: rgb(128, 143, 133);
  }
  
  .h1 {
    color: rgb(216, 221, 239); 
  }